RewriteEngine on
DirectoryIndex index.html
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteCond %{REQUEST_FILENAME}\index.html HTTP [NC]
RewriteRule ^(.*)$ $index.html [R=301,L]
RewriteRule ^(.*)$ $1.html [NC,L]
